@model EmployeeLeaves.Models.EmployeeStatisticsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div class="dst-page-title">
    <h1><i class='fas fa-chart-pie'></i>&nbsp;&nbsp;&nbsp;Employee Statistics - @Model.Employee.FullName</h1>
</div>

<div style="text-align:center; margin-top:0px; font-size:xx-large;">
    <a asp-action="Index" class="dst-previous-year" asp-route-employeeid="@Model.Employee.Id" asp-route-year="@(Model.Year - 1)" title="Previous year"><span class="fas fa-chevron-left" style="font-size:large;"></span></a>
    <span>@Model.Year</span>
    <a asp-action="Index" class="dst-next-year" asp-route-employeeid="@Model.Employee.Id" asp-route-year="@(Model.Year + 1)" title="Next year"><span class="fas fa-chevron-right" style="font-size:large;"></span></a>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <canvas id="PieChart" style="width:100%;max-width:700px; margin-bottom:25px;"></canvas>            
        </div>
        <div class="col-sm-6">
            <canvas id="BarChart" style="width:100%;max-width:700px"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 dropshadow" style="border:0px solid lightgray; border-radius:5px; margin-top:30px; margin-bottom:30px;">
                <table id="calendar" style="width: 100%;">
                    <tr data-value="1">
                        <td class="month-cell">JAN</td>
                        <td class="day-cell">1</td>
                        <td class="day-cell">2</td>
                        <td class="day-cell">3</td>
                        <td class="day-cell">4</td>
                        <td class="day-cell">5</td>
                        <td class="day-cell">6</td>
                        <td class="day-cell">7</td>
                        <td class="day-cell">8</td>
                        <td class="day-cell">9</td>
                        <td class="day-cell">10</td>
                        <td class="day-cell">11</td>
                        <td class="day-cell">12</td>
                        <td class="day-cell">13</td>
                        <td class="day-cell">14</td>
                        <td class="day-cell">15</td>
                        <td class="day-cell">16</td>
                        <td class="day-cell">17</td>
                        <td class="day-cell">18</td>
                        <td class="day-cell">19</td>
                        <td class="day-cell">20</td>
                        <td class="day-cell">21</td>
                        <td class="day-cell">22</td>
                        <td class="day-cell">23</td>
                        <td class="day-cell">24</td>
                        <td class="day-cell">25</td>
                        <td class="day-cell">26</td>
                        <td class="day-cell">27</td>
                        <td class="day-cell">28</td>
                        <td class="day-cell">29</td>
                        <td class="day-cell">30</td>
                        <td class="day-cell">31</td>
                    </tr>
                    <tr data-value="2">
                        <td class="month-cell">FEB</td>
                        <td class="day-cell">1</td>
                        <td class="day-cell">2</td>
                        <td class="day-cell">3</td>
                        <td class="day-cell">4</td>
                        <td class="day-cell">5</td>
                        <td class="day-cell">6</td>
                        <td class="day-cell">7</td>
                        <td class="day-cell">8</td>
                        <td class="day-cell">9</td>
                        <td class="day-cell">10</td>
                        <td class="day-cell">11</td>
                        <td class="day-cell">12</td>
                        <td class="day-cell">13</td>
                        <td class="day-cell">14</td>
                        <td class="day-cell">15</td>
                        <td class="day-cell">16</td>
                        <td class="day-cell">17</td>
                        <td class="day-cell">18</td>
                        <td class="day-cell">19</td>
                        <td class="day-cell">20</td>
                        <td class="day-cell">21</td>
                        <td class="day-cell">22</td>
                        <td class="day-cell">23</td>
                        <td class="day-cell">24</td>
                        <td class="day-cell">25</td>
                        <td class="day-cell">26</td>
                        <td class="day-cell">27</td>
                        <td class="day-cell">28</td>
                        <td class="day-cell" id="Feb29">29</td>
                        <td class="day-cell"></td>
                        <td class="day-cell"></td>
                    </tr>
                    <tr data-value="3">
                        <td class="month-cell">MAR</td>
                        <td class="day-cell">1</td>
                        <td class="day-cell">2</td>
                        <td class="day-cell">3</td>
                        <td class="day-cell">4</td>
                        <td class="day-cell">5</td>
                        <td class="day-cell">6</td>
                        <td class="day-cell">7</td>
                        <td class="day-cell">8</td>
                        <td class="day-cell">9</td>
                        <td class="day-cell">10</td>
                        <td class="day-cell">11</td>
                        <td class="day-cell">12</td>
                        <td class="day-cell">13</td>
                        <td class="day-cell">14</td>
                        <td class="day-cell">15</td>
                        <td class="day-cell">16</td>
                        <td class="day-cell">17</td>
                        <td class="day-cell">18</td>
                        <td class="day-cell">19</td>
                        <td class="day-cell">20</td>
                        <td class="day-cell">21</td>
                        <td class="day-cell">22</td>
                        <td class="day-cell">23</td>
                        <td class="day-cell">24</td>
                        <td class="day-cell">25</td>
                        <td class="day-cell">26</td>
                        <td class="day-cell">27</td>
                        <td class="day-cell">28</td>
                        <td class="day-cell">29</td>
                        <td class="day-cell">30</td>
                        <td class="day-cell">31</td>
                    </tr>
                    <tr data-value="4">
                        <td class="month-cell">APR</td>
                        <td class="day-cell">1</td>
                        <td class="day-cell">2</td>
                        <td class="day-cell">3</td>
                        <td class="day-cell">4</td>
                        <td class="day-cell">5</td>
                        <td class="day-cell">6</td>
                        <td class="day-cell">7</td>
                        <td class="day-cell">8</td>
                        <td class="day-cell">9</td>
                        <td class="day-cell">10</td>
                        <td class="day-cell">11</td>
                        <td class="day-cell">12</td>
                        <td class="day-cell">13</td>
                        <td class="day-cell">14</td>
                        <td class="day-cell">15</td>
                        <td class="day-cell">16</td>
                        <td class="day-cell">17</td>
                        <td class="day-cell">18</td>
                        <td class="day-cell">19</td>
                        <td class="day-cell">20</td>
                        <td class="day-cell">21</td>
                        <td class="day-cell">22</td>
                        <td class="day-cell">23</td>
                        <td class="day-cell">24</td>
                        <td class="day-cell">25</td>
                        <td class="day-cell">26</td>
                        <td class="day-cell">27</td>
                        <td class="day-cell">28</td>
                        <td class="day-cell">29</td>
                        <td class="day-cell">30</td>
                        <td class="day-cell"></td>
                    </tr>
                    <tr data-value="5">
                        <td class="month-cell">MAY</td>
                        <td class="day-cell">1</td>
                        <td class="day-cell">2</td>
                        <td class="day-cell">3</td>
                        <td class="day-cell">4</td>
                        <td class="day-cell">5</td>
                        <td class="day-cell">6</td>
                        <td class="day-cell">7</td>
                        <td class="day-cell">8</td>
                        <td class="day-cell">9</td>
                        <td class="day-cell">10</td>
                        <td class="day-cell">11</td>
                        <td class="day-cell">12</td>
                        <td class="day-cell">13</td>
                        <td class="day-cell">14</td>
                        <td class="day-cell">15</td>
                        <td class="day-cell">16</td>
                        <td class="day-cell">17</td>
                        <td class="day-cell">18</td>
                        <td class="day-cell">19</td>
                        <td class="day-cell">20</td>
                        <td class="day-cell">21</td>
                        <td class="day-cell">22</td>
                        <td class="day-cell">23</td>
                        <td class="day-cell">24</td>
                        <td class="day-cell">25</td>
                        <td class="day-cell">26</td>
                        <td class="day-cell">27</td>
                        <td class="day-cell">28</td>
                        <td class="day-cell">29</td>
                        <td class="day-cell">30</td>
                        <td class="day-cell">31</td>
                    </tr>
                    <tr data-value="6">
                        <td class="month-cell">JUN</td>
                        <td class="day-cell">1</td>
                        <td class="day-cell">2</td>
                        <td class="day-cell">3</td>
                        <td class="day-cell">4</td>
                        <td class="day-cell">5</td>
                        <td class="day-cell">6</td>
                        <td class="day-cell">7</td>
                        <td class="day-cell">8</td>
                        <td class="day-cell">9</td>
                        <td class="day-cell">10</td>
                        <td class="day-cell">11</td>
                        <td class="day-cell">12</td>
                        <td class="day-cell">13</td>
                        <td class="day-cell">14</td>
                        <td class="day-cell">15</td>
                        <td class="day-cell">16</td>
                        <td class="day-cell">17</td>
                        <td class="day-cell">18</td>
                        <td class="day-cell">19</td>
                        <td class="day-cell">20</td>
                        <td class="day-cell">21</td>
                        <td class="day-cell">22</td>
                        <td class="day-cell">23</td>
                        <td class="day-cell">24</td>
                        <td class="day-cell">25</td>
                        <td class="day-cell">26</td>
                        <td class="day-cell">27</td>
                        <td class="day-cell">28</td>
                        <td class="day-cell">29</td>
                        <td class="day-cell">30</td>
                        <td class="day-cell"></td>
                    </tr>
                    <tr data-value="7">
                        <td class="month-cell">JUL</td>
                        <td class="day-cell">1</td>
                        <td class="day-cell">2</td>
                        <td class="day-cell">3</td>
                        <td class="day-cell">4</td>
                        <td class="day-cell">5</td>
                        <td class="day-cell">6</td>
                        <td class="day-cell">7</td>
                        <td class="day-cell">8</td>
                        <td class="day-cell">9</td>
                        <td class="day-cell">10</td>
                        <td class="day-cell">11</td>
                        <td class="day-cell">12</td>
                        <td class="day-cell">13</td>
                        <td class="day-cell">14</td>
                        <td class="day-cell">15</td>
                        <td class="day-cell">16</td>
                        <td class="day-cell">17</td>
                        <td class="day-cell">18</td>
                        <td class="day-cell">19</td>
                        <td class="day-cell">20</td>
                        <td class="day-cell">21</td>
                        <td class="day-cell">22</td>
                        <td class="day-cell">23</td>
                        <td class="day-cell">24</td>
                        <td class="day-cell">25</td>
                        <td class="day-cell">26</td>
                        <td class="day-cell">27</td>
                        <td class="day-cell">28</td>
                        <td class="day-cell">29</td>
                        <td class="day-cell">30</td>
                        <td class="day-cell">31</td>
                    </tr>
                    <tr data-value="8">
                        <td class="month-cell">AUG</td>
                        <td class="day-cell">1</td>
                        <td class="day-cell">2</td>
                        <td class="day-cell">3</td>
                        <td class="day-cell">4</td>
                        <td class="day-cell">5</td>
                        <td class="day-cell">6</td>
                        <td class="day-cell">7</td>
                        <td class="day-cell">8</td>
                        <td class="day-cell">9</td>
                        <td class="day-cell">10</td>
                        <td class="day-cell">11</td>
                        <td class="day-cell">12</td>
                        <td class="day-cell">13</td>
                        <td class="day-cell">14</td>
                        <td class="day-cell">15</td>
                        <td class="day-cell">16</td>
                        <td class="day-cell">17</td>
                        <td class="day-cell">18</td>
                        <td class="day-cell">19</td>
                        <td class="day-cell">20</td>
                        <td class="day-cell">21</td>
                        <td class="day-cell">22</td>
                        <td class="day-cell">23</td>
                        <td class="day-cell">24</td>
                        <td class="day-cell">25</td>
                        <td class="day-cell">26</td>
                        <td class="day-cell">27</td>
                        <td class="day-cell">28</td>
                        <td class="day-cell">29</td>
                        <td class="day-cell">30</td>
                        <td class="day-cell">31</td>
                    </tr>
                    <tr data-value="9">
                        <td class="month-cell">SEP</td>
                        <td class="day-cell">1</td>
                        <td class="day-cell">2</td>
                        <td class="day-cell">3</td>
                        <td class="day-cell">4</td>
                        <td class="day-cell">5</td>
                        <td class="day-cell">6</td>
                        <td class="day-cell">7</td>
                        <td class="day-cell">8</td>
                        <td class="day-cell">9</td>
                        <td class="day-cell">10</td>
                        <td class="day-cell">11</td>
                        <td class="day-cell">12</td>
                        <td class="day-cell">13</td>
                        <td class="day-cell">14</td>
                        <td class="day-cell">15</td>
                        <td class="day-cell">16</td>
                        <td class="day-cell">17</td>
                        <td class="day-cell">18</td>
                        <td class="day-cell">19</td>
                        <td class="day-cell">20</td>
                        <td class="day-cell">21</td>
                        <td class="day-cell">22</td>
                        <td class="day-cell">23</td>
                        <td class="day-cell">24</td>
                        <td class="day-cell">25</td>
                        <td class="day-cell">26</td>
                        <td class="day-cell">27</td>
                        <td class="day-cell">28</td>
                        <td class="day-cell">29</td>
                        <td class="day-cell">30</td>
                        <td class="day-cell"></td>
                    </tr>
                    <tr data-value="10">
                        <td class="month-cell">OCT</td>
                        <td class="day-cell">1</td>
                        <td class="day-cell">2</td>
                        <td class="day-cell">3</td>
                        <td class="day-cell">4</td>
                        <td class="day-cell">5</td>
                        <td class="day-cell">6</td>
                        <td class="day-cell">7</td>
                        <td class="day-cell">8</td>
                        <td class="day-cell">9</td>
                        <td class="day-cell">10</td>
                        <td class="day-cell">11</td>
                        <td class="day-cell">12</td>
                        <td class="day-cell">13</td>
                        <td class="day-cell">14</td>
                        <td class="day-cell">15</td>
                        <td class="day-cell">16</td>
                        <td class="day-cell">17</td>
                        <td class="day-cell">18</td>
                        <td class="day-cell">19</td>
                        <td class="day-cell">20</td>
                        <td class="day-cell">21</td>
                        <td class="day-cell">22</td>
                        <td class="day-cell">23</td>
                        <td class="day-cell">24</td>
                        <td class="day-cell">25</td>
                        <td class="day-cell">26</td>
                        <td class="day-cell">27</td>
                        <td class="day-cell">28</td>
                        <td class="day-cell">29</td>
                        <td class="day-cell">30</td>
                        <td class="day-cell">31</td>
                    </tr>
                    <tr data-value="11">
                        <td class="month-cell">NOV</td>
                        <td class="day-cell">1</td>
                        <td class="day-cell">2</td>
                        <td class="day-cell">3</td>
                        <td class="day-cell">4</td>
                        <td class="day-cell">5</td>
                        <td class="day-cell">6</td>
                        <td class="day-cell">7</td>
                        <td class="day-cell">8</td>
                        <td class="day-cell">9</td>
                        <td class="day-cell">10</td>
                        <td class="day-cell">11</td>
                        <td class="day-cell">12</td>
                        <td class="day-cell">13</td>
                        <td class="day-cell">14</td>
                        <td class="day-cell">15</td>
                        <td class="day-cell">16</td>
                        <td class="day-cell">17</td>
                        <td class="day-cell">18</td>
                        <td class="day-cell">19</td>
                        <td class="day-cell">20</td>
                        <td class="day-cell">21</td>
                        <td class="day-cell">22</td>
                        <td class="day-cell">23</td>
                        <td class="day-cell">24</td>
                        <td class="day-cell">25</td>
                        <td class="day-cell">26</td>
                        <td class="day-cell">27</td>
                        <td class="day-cell">28</td>
                        <td class="day-cell">29</td>
                        <td class="day-cell">30</td>
                        <td class="day-cell"></td>
                    </tr>
                    <tr data-value="12">
                        <td class="month-cell">DEC</td>
                        <td class="day-cell">1</td>
                        <td class="day-cell">2</td>
                        <td class="day-cell">3</td>
                        <td class="day-cell">4</td>
                        <td class="day-cell">5</td>
                        <td class="day-cell">6</td>
                        <td class="day-cell">7</td>
                        <td class="day-cell">8</td>
                        <td class="day-cell">9</td>
                        <td class="day-cell">10</td>
                        <td class="day-cell">11</td>
                        <td class="day-cell">12</td>
                        <td class="day-cell">13</td>
                        <td class="day-cell">14</td>
                        <td class="day-cell">15</td>
                        <td class="day-cell">16</td>
                        <td class="day-cell">17</td>
                        <td class="day-cell">18</td>
                        <td class="day-cell">19</td>
                        <td class="day-cell">20</td>
                        <td class="day-cell">21</td>
                        <td class="day-cell">22</td>
                        <td class="day-cell">23</td>
                        <td class="day-cell">24</td>
                        <td class="day-cell">25</td>
                        <td class="day-cell">26</td>
                        <td class="day-cell">27</td>
                        <td class="day-cell">28</td>
                        <td class="day-cell">29</td>
                        <td class="day-cell">30</td>
                        <td class="day-cell">31</td>
                    </tr>

                </table>

                <table id="legend" style="width: 100%; margin-top:15px; font-size:small" cellspacing="5" cellpadding="5">
                    <tr style="height:20px;">
                    <td style="width:30px;"><i class='fas fa-circle' style="font-size:24px;color:#CCC"></i></td>
                        <td>Weekend</td>
                    <td style="width:30px;"><i class='fas fa-circle' style="font-size:24px;color:gold"></i></td>
                        <td>Today</td>
                    <td style="width:30px;"><i class='fas fa-circle' style="font-size:24px;color:#228B22"></i></td>
                        <td>Leave days</td>
                    </tr>
                </table>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <table class="table">
                <thead class="dst-table-header">
                    <tr>
                        <th></th>
                        <th>
                            @* @Html.DisplayNameFor(model => model.Employee) *@
                            Request Date
                        </th>
                        <th>
                            @* @Html.DisplayNameFor(model => model.Department) *@
                            Requested Days
                        </th>
                         <th>
                            @* @Html.DisplayNameFor(model => model.Email) *@
                            Status
                        </th>           
                        <th>
                            @* @Html.DisplayNameFor(model => model.DateOfBirth) *@
                            Response Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int RowNo = 0;
                    }
                    @foreach (var item in Model.LeaveRequests.OrderByDescending(x => x.RequestDate))
                    {
                        <tr class="dst-table-row">
                            <td>
                                @{
                                    RowNo++;
                                } @(RowNo.ToString() + ".")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestedDays.Count)
                            </td>
                            <td>
                                @* @Html.DisplayFor(modelItem => item.Status) *@
                                @switch (item.Status)
                                {
                                    case EmployeeLeaves.Enums.RequestStatus.Approved:
                                        <i class='fas fa-check-circle' style='color:green; font-size:20px;' title=@EmployeeLeaves.Enums.RequestStatus.Approved.ToString()></i>
                                        break;
                                    case EmployeeLeaves.Enums.RequestStatus.Rejected:
                                        <i class='fas fa-times-circle' style='color:red; font-size:20px;' title=@EmployeeLeaves.Enums.RequestStatus.Rejected.ToString()></i>
                                        break;
                                    case EmployeeLeaves.Enums.RequestStatus.Pending:
                                        <i class='far fa-hourglass' style='color:darkorange; font-size:20px;' title=@EmployeeLeaves.Enums.RequestStatus.Pending.ToString()></i>
                                        break;
                                    default:
                                        <i class='far fa-hourglass' style='color:darkorange; font-size:20px;' title=@EmployeeLeaves.Enums.RequestStatus.Pending.ToString()></i>
                                        break;
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ResponseDate)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var xValues = ["Approved", "Pending", "Rejected", "Remaining"];
    var yValues = [@Model.LeaveDaysApprovedList.Count(), @Model.LeaveDaysPendingApproval, @Model.LeaveDaysRejected, @Model.LeaveDaysRemaining];
    var barColors = [
      'rgba(0, 200, 0, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(200, 0, 0, 0.2)',
      'rgba(201, 203, 207, 0.2)'
    ];
    var borderColors = [
      'rgb(0, 200, 0)',
      'rgb(255, 159, 64)',
      'rgb(200, 0, 0)',
      'rgb(201, 203, 207)'
    ];

    new Chart("PieChart", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          borderColor: borderColors,
          borderWidth: 1,
          data: yValues
        }]
      },
      options: {
        resposive: true,
        title: {
          display: true,
          text: @Model.Year
        }
      }
    });

    
    xValues = [];
    yValues = [];

    @foreach (var d in Model.LeaveDaysPerMonth)
    {
        @:xValues.push("@d.Key");
        @:yValues.push(@d.Value);
    }

    new Chart("BarChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgb(54, 162, 235)',
          borderWidth: 1,
          data: yValues
        }]
      },
      options: {
        resposive: true,
        legend: {display: false},
        title: {
          display: true,
          text: "Leaves per month for " + @Model.Year
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    stepSize: 1
                },

            }]
        }
      }
    });

    const days = [];
    
    @foreach(DateTime d in @Model.LeaveDaysApprovedList) {
        @:days.push(new Date(@d.Year, @(d.Month-1), @d.Day));
    }

    DrawCalendar(@Model.Year, days);

</script>


